name: Build

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - uses: actions/setup-dotnet@v1

    - name: Setup Nuget
      uses: warrenbuckley/Setup-Nuget@v1

    - name: Nuget Add source 
      run: nuget sources Add -Name "GitHub" -Source "https://nuget.pkg.github.com/barimale/index.json" -UserName barimale -Password ${{ secrets.VS2019 }}
      
    - name: Nuget Add apiKey 
      run: nuget setapikey ${{ secrets.NUGET_ORG_TOKEN }} -Source "https://api.nuget.org/v3/index.json"

    - name: Nuget Restore 
      run: nuget restore .\Keycloak.NET.Manager.FluentAPI\Keycloak.NET.Manager.FluentAPI.sln

    - name: Build Solution 
      run: dotnet build .\Keycloak.NET.Manager.FluentAPI\Keycloak.NET.Manager.FluentAPI.sln --configuration Release

    - name: Nuget Pack
      run: nuget pack .\Keycloak.NET.Manager.FluentAPI\pack.nuspec -Properties Configuration=Release -OutputDirectory .\nugetPackages

    - name: Nuget Push to nuget.org
      run: nuget push .\nugetPackages\*.nupkg -Source "https://api.nuget.org/v3/index.json" -SkipDuplicate -NoSymbols
      
    - name: Nuget Push to github
      run: nuget push .\nugetPackages\*.nupkg -Source GitHub -SkipDuplicate